@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .selected {
    @apply bg-gray-100 text-purple-800
  }
}

.invite {
  background-image: url(./assets/home/invite_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.goog-te-banner-frame.skiptranslate {
  display: none!important;
}
body {
  top: 0px!important
}